body {
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: #00D09E;
    border-radius: 22px;
    width: 85%;
    margin: auto;
    padding: 20px 50px;
}

.logo {
    background: #fff;
    padding: 5px;
    border-radius: 12px;
}
.menu li {
    display: block;
    padding: 0px 30px;
}
.menu a{
    text-decoration: none;
}
.menu ul {
    display: flex;
}
.menu ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}
.menu {
    width: 70%;
}
.menu a {
    text-decoration: none;
    font-weight: bold;
}
nav.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.travelbtn button {
    background: #fff;
    border: none;
    border-radius: 12px;
    padding: 15px;
    width: 130px;
    height: 50px;
    font-weight: bold;
}
.baner img {
    width: 100%;
}
.baner {
    width: 100vw;
    margin-top: -50px;
    z-index: -1;
}
h2.title1 {
    color: #00D09E;
    font-weight: bold;
    font-size: 36px;
}
h2.title1::after {
    content: url(./Public/_ÎÓÈ_1.svg);
    margin-left: 50px;
}
h2.title1::before {
    content: url(./Public/Vector\ 1.svg);
    margin-right: 50px;
    position: absolute;
    top: 50%;
    right: 53%;
    z-index: -1;
}
h2.title1 {
    width: 85%;
    color: #00D09E;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
section.travelname {
    display: flex;
    padding: 30px;
    background: #F8F8F8;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100vw;
    box-shadow: 6px 7px 18px 7px rgba(0, 0, 0, 0.09);
}
div.divtravelname {
    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;

}
.travelimg {
    padding: 10px 30px;
    width: 200px;
}
section.pricetour {
    background: #00D09E;
    width: 100vw;
    height: 360px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
    margin-bottom:30px;
}
h3 {
    color: #fff;
    width: 300px;
    text-align: right;
    line-height: 40px;
    font-size: 26px;
}

.colright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
button.combinedTours {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    margin-top: 10px;
    background: #fff;
}
.divpricetour {
    width: 85%;
    margin: auto;
}
h2.title2 {
    width: 85%;
    color: #00D09E;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
h2.title2::before {
    content: url(./Public/_ÎÓÈ_1\ \(1\).svg);
    margin-right: 50px;

}
h2.title2::after {
    content: url(./Public/Vector\ 2\ \(1\).svg);
    position: absolute;
    top: 50%;
    right: -50px;
    z-index: -1;
}
section.nowruz {
    display: flex;
    padding: 30px;
    height: 500px;
    background: #F8F8F8;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100vw;
    box-shadow: 6px 7px 18px 7px rgba(0, 0, 0, 0.09);
}
.cart {
    height: 320px;
    width: 200px;
    background: #fff;
    padding: 20px;
    border-radius: 21px;
}
.inlineCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location {
    display: flex;
    flex-direction: row-reverse;
}
.date {
    display: flex;
    flex-direction: row-reverse;
}
.price {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: flex-end;
}

